# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
    branches: "main"
    tags: ["*"]
  pull_request:
    branches: "main"
  release:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  linux-test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    container:
      image: chapel/chapel
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Run tests
        run: |
          mason test --show
  mac-test:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          brew install chapel
      - name: Run test
        run: |
          mason test --show
